:root{
    --primary: #00A878;
    --dark: #0B0500;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*Elementos base*/
body{
    background: var(--dark);
    font-family: 'Times New Roman', Times, serif;
    color: #FFFFFF;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header .logo{
    margin-left: 5px;
    color: var(--primary);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}
header nav a:hover{
    color: #FFF;
}

/*Jogo Principal*/
.jogo-principal{
    font-size: 1rem;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/hollow-knight-wallpaper.jpg');
    background-size: cover;
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.jogo-principal .descricao{
    margin-bottom: 2em;
}

.titulo{
    font-size: 2.25rem;
}